body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 400px;
}

main {
  margin: 100px 0px;
}

h1,
h2,
h3,
h4 {
  font-weight: 500px;
}

h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

img {
  height: auto;
  width: 300px;
  margin-bottom: 100px;
  margin-left: 50px;
  float: right;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

@media (max-width: 768px) {
  img {
    display: block;
    float: none;
    margin: 0 auto;
    padding-top: 50px;
  }
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler:focus {
  color: transparent;
}

.bg-light {
  background-color: transparent !important;
  border-bottom: solid 1px rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
}
